* {
    margin: 0;
    padding: 0;
}

a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('Gilroy-Semibold.woff2') format('woff2'),
        url('Gilroy-Semibold.woff') format('woff'),
        url('Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('Gilroy-Bold.woff2') format('woff2'),
        url('Gilroy-Bold.woff') format('woff'),
        url('Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('Gilroy-Medium.woff2') format('woff2'),
        url('Gilroy-Medium.woff') format('woff'),
        url('Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.main {
    width: 1920px;
    height: 700px;
    flex-shrink: 0;
    background: #FFF;
}

.header {
    display: flex;
    justify-content: center;

}



.logo_header {
    padding-top: 40px;
    padding-left: 375px;
    padding-bottom: 89px;


}

.menu {
    padding-top: 51px;
    padding-right: 375px;
    padding-bottom: 95px;
    padding-left: 500px;
    display: flex;
    justify-content: space-between;


}

.menu_item {
    padding-right: 20px;
}

.home {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 20px;
}

a {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.title {
    padding-right: 41px;
    margin-bottom: 17px;
    margin-left: 373px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.subtitle {
    padding-right: 97px;
    padding-bottom: 37px;
    padding-left: 373px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.start_now {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.watch_video {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background-color: #FFF;
    padding-left: 72px;
}

.buttons_main {
    padding-left: 375px;
    padding-right: 259px;
    display: flex;
    justify-content: space-between;
}

.content_main {
    display: flex;
    justify-content: center;
}

.info_main {
    margin-top: 84px;
    margin-bottom: 314px;
}

.main_img {
    width: 544.814px;
    height: 374.843px;
    flex-shrink: 0;
}

.main_right {
    width: 610.735px;
    height: 372.904px;
    flex-shrink: 0;
    padding-top: 95px;
    padding-right: 440px;
    padding-bottom: 163px;
}

.bottom_main {
    width: 1920px;
    height: 243px;
    flex-shrink: 0;
    margin-left: 345px;
    margin-right: 375px;
    display: flex;
    justify-content: center, space-between 48px;
}

.logo {
    width: 160px;
    height: 50px;
    flex-shrink: 0;
    padding-right: 48px;

}


/* section_1 */

.top_section {
    width: 1915px;
    height: 491px;
    flex-shrink: 0;
    margin-top: 500px;
    background: #FFF;
    display: flex;
    justify-content: center;

}

.item_1 {
    padding-left: 29px;
    width: 370px;
    height: 291px;
    flex-shrink: 0;
}

.item_1x {
    width: 370px;
    height: 291px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.img_item_1 {
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 30px;
    ;
}

.title_item_1 {
    padding-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text_item_1 {
    padding-bottom: 25px;
    width: 310px;
    height: 42px;
    flex-shrink: 0;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.link_item_1 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}



.main_section {
    background: #FAFAFA;
    padding-top: 100px;
    width: 1920px;
    height: 919px;
    flex-shrink: 0;

}

.h1_info {
    margin-bottom: 19px;

    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}


.text_section {
    padding-bottom: 54px;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.section_content {

    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 19px;
    align-content: center;
    justify-content: center;
    justify-items: center;

}

.item2 {
    text-align: center;
    padding-top: 30px;
    width: 370px;
    height: 549px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.img_item2 {
    padding-bottom: 21px;

}

.h1_item_2 {
    padding-bottom: 22px;
    text-align: center;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 22px;
}

.text_item_2 {
    padding-left: 30px;
    text-align: center;
    width: 310px;
    height: 63px;
    flex-shrink: 0;
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 39px;
}

.button_item_2 {
    text-align: center;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
}